 body {
      background-color: #111111;
      min-height: 100vh;
      display: flex;
      flex-direction: column;

    }

main{
  flex: auto;
  text-align: center;
}

    header {

      background-color: #0D0D0D;
      
      text-align: center;

    }

    footer {
      background-color: #0f0f0f;
      
      text-align: center;



       }

       h1{
    color: #ffffff;
   }
     a {
      color: #1F51FF;
      text-decoration: none;
      
     

    }
       p {
      color: #C8D3DC;
      

    }
      ul {

      color: #FF6A00;
      display: flex;
      justify-content: center;
      gap: 25px;
      list-style: none;

    }
    
    .titulo{
   margin-top: 5%;
   margin-bottom: 0px;
  

  ;
}

.boton{

  
     display: inline-block ;
    background-color: #FF6A00;
    color: white;
    padding: 15px 30px;
    margin-bottom: 30px;
  

}
.boton:hover{
  color: #ffffff;
  background-color: #1F51FF;
     transform:scale(1.10);
     transition: 0.5%;
}
img{
  width: 15%;
  height: auto;
  margin-top: 10px;
}   
