label{
  display: block;
    margin-top: 5px;
    color: aliceblue
  
    

}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin-bottom: 10%;
    
}

.botonconfirm{
        display: inline-block ;
    background-color: #7C4DFF;
    color: white;
    padding: 15px 30px;
    margin-bottom: 30px;
  
}

.botonconfirm:hover{

  color: #ffffff;
  background-color: #d21fff;
     transform:scale(1.10);
     transition: 0.3s;

}

    
body {
      background-color: #111111;
      min-height: 100vh;
      display: flex;
      flex-direction: column;

    }

main{
  flex: auto;
  text-align: center;
}

    header {

      background-color: #0D0D0D;
      
      text-align: center;

    }

    footer {
      background-color: #0f0f0f;
      
      text-align: center;


}


img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

a {
      color: #1F51FF;
      text-decoration: none;
      }
      h1{
        color: #ffffff;
      }

#imgform{
  height: 100%;
  width: 50% ;
  margin-bottom: 0px;
  margin-bottom: 0px;
}
