    body {
      background-color: #111111;



    }

    header {

      background-color: #0D0D0D;
      
      text-align: center;

    }

    footer {
      background-color: #0f0f0f;
      
      text-align: center;
      
    }

   h1{
    color: #FF6A00;
   }
   h2{
    color: #30A8F9;
    
   } 
   h3{
    color: #00C853;

   }
   h4{ color: #AAB4BE;
  }

    p {
      color: #C8D3DC;
      

    }

    ul {

      color: #FF6A00;
      display: flex;
      justify-content: center;
      gap: 25px;
      list-style: none;



    }


    nav {
      text-align: center;
      
    

    }

    a {
      color: #30A8F9;
      text-decoration: none;
     



    }

    .infoactores {


      width: 400px;
     
    }


    .datos {

      color:#C8D3DC;
      flex-direction: column; 
      gap: 10px;
     



    }
   
   