@media screen and (max-width:676px){ /*mobile */

             
  header{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    h1{
        font-size: 1.9rem;
        text-align: center;
    }

    h2{
        font-size: 1.6rem;

    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.1rem;
    }

    p{
        font-size: 1rem; 
    }

    img{
         max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 5%  ;
        margin-bottom: 5%;
    }
    
    .contenedor-actores{
    flex-direction: column;
    align-items: center;
    }

    .tarjeta-actor{
    width: 100%;
    }

    .tarjeta-actor div{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .actor{
    max-width: 100%;
    height: auto;
    }   

    .universalbanner{
        width: 90%;
        max-width: 300px;
    }

   header ul{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding:0;
    margin:0;
}

aside h3{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.datos{

    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 0;

}

.datos li{
    margin-bottom: 15px;
}



form{
    width: 90%;
    margin: 0 auto;
}

label{
    font-size: 1.2rem;
}

input,select,textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
}

button{
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
}

#imgform{
    width: 90%;
    height: auto;

}

.hamburguesa{
    display: block;
    font-size: 35px;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    order: -1;
}

nav{
    display: none;

}

#menu:checked ~ nav{
    display: block !important;
}

.cabecera-celu{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px   ;
    
}

.error404{

    width: 90%;
    height: auto;
}


}





    

@media screen and (min-width:678px) and (max-width:1024px){ /* tablet*/ 

      h1{
        font-size: 1.9rem;
        text-align: center;
    }

    h2{
        font-size: 1.6rem;

    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.1rem;
    }

    p{
        font-size: 1rem; 
    }

    img{
         max-width: 75%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 5%  ;
        margin-bottom: 5%;
    }

    footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0;
    margin:0;
}

   header ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
} 

form{
    width: 60%;
    margin: 0 auto;
}

label{
    font-size: 1.2rem;
}

input,select,textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
}

button{
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
}

#imgform{
    width: 90%;
    height: auto;

}

     .contenedor-actores{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:30px;
    }

    .tarjeta-actor{
        width:40%;
    }

.error404{

    width: 70%;
    height: auto;
}

    

}