
h1, h2{

    margin-bottom: 15px;

    margin-top: 15px;
} 
h3, h4{
    margin:0;
}

p{
    margin:0 0 12px 0;
}
section, article, aside{
    margin: 0;
    padding: 0;
}
.universalbanner{
     display:block;
 margin:0 auto;
 border-radius: 30px;
}

.actor{
 
    border-radius: 20px;

}
a{
   transition:0.3s;
   display:inline-block;
}

a:hover{
   color:rgb(43, 255, 0);
   transform:translateY(-5px);

}
img:hover{
   transform:scale(1.05);
}

h1{
font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 400;
   font-size: 40px;

}
h2, h3, h4, h5{
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, nav, ul, li{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}